html { -webkit-font-smoothing: antialiased; }
* { margin: 0; }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    color: #343434;
    font-size: 1.15em;
}

h1, h2, h3 {
    font-weight: normal;
    margin-bottom: 0.3em;
}
h1 {
    font-size: 1.5em;
}

h4 {
    color: #666;
    margin-bottom: 0.3em;
}

.clearfix {
    clear: both;
}

article > ul, ol {
    margin: 1em;
}

aside > ul { padding: 0; }
aside > ul li {
    margin-right: 0.5em;
    list-style-type: none;
    float: left;
}

.highlight {
    font-size: 1.1em;
    line-height: 1.1em;
    overflow: auto;
    background: #242227;
    color: #f8f8f2;
    padding: 1em;
    margin-bottom: 1em;
}
pre {
    white-space: pre-wrap;
}
.no-decoration { text-decoration: none; }

hr {
    border: 0;
    background-color: lightgray;
    height: 1px;
    margin: 2em 0;
}

a, a:visited, a:active { color: #454545; }

p {
    line-height: 1.3em;
    margin-bottom: 1em;
}

blockquote {
    background-color: #ede3e1;
    padding: 1em 0 .1em 1em;
    margin: 1em 0;
    border-left: 4px solid #D93117;
}

.logo {
    height: 125px;
    display: block;
    margin: 1em 0;
}

.button {
    font-size: 1em;
    color: white!important;
    padding: 0.3em 0.75em;
    /*margin: 0.1em;*/
    display: inline-block;
    text-decoration: none;
}
.tag {
    font-size: 0.7em;
    color: white!important;
    padding: 0.1em 0.6em;
    margin: 0.1em;
    display: inline-block;
    text-decoration: none;
}
.date {
    font-size: 1em;
    color: white!important;
    padding: 0.25em 0.75em;
    display: inline-block;
    text-decoration: none;
}
.red { background-color: #D93117; }
.white { color: black!important; background-color: white; }
.black { background-color: black; }
.gray { background-color: gray; }
.floating-left { float: left; }
.floating-right { float: right; }

aside {
    position: fixed;
    padding: 0 0 0 1em;
    height: 100%;
    min-height: 640px;
    width: 250px;
    border-right: 1px solid lightgray;
}

.container {
    margin-left: 300px;
    margin-right: 25px;
    position: relative;
}
.cta {
    background: #bfbfbf;
    margin: 1em 0;
    padding: 0 0.5em;
}
.cta-content {
    position: relative;
    top: -16px;
}

@media (max-width: 767px) {
    aside {
        position: relative;
        border: none;
        width: auto;
        margin: 10px;
        padding: 0;
        min-height: inherit!important;
        height: auto!important;
        border-bottom: 1px solid lightgray;
    }
    .highlight {
        width: auto;
        padding: 0.5em;

    }
    .hide-mobile {
        display: none;
    }
    .container {
        margin: 10px;
        width: auto;
    }
}


article { margin: 1em 0; font-size: 100%; }

/* Embedded youtube clips */
iframe {
    margin: 1em 2em;
}
