<!doctype html>
<html>
    <head>
        <link rel="alternate" type="application/atom+xml" href="http://www.lexicallyscoped.com/atom.xml">

        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <script src="http://use.edgefonts.net/open-sans.js"></script>
    </head>
    <body>
        <aside>
            <a href="/" class="no-decoration"><h1>Lexically scoped</h1></a>
            <img src="/img/me_round.png" class="logo">
            <h2>About me</h2>
            <p>Hi, I'm Fredrik Dyrkell. I'm a programmer in <a href="https://maps.google.se/maps?q=gothenburg+google+maps&ie=UTF8&hnear=G%C3%B6teborg&gl=se&t=h&z=10">Gothenburg, Sweden</a> working at
            <a href="http://www.pagero.com">Pagero.</a></p>

            <p>In focus right now
            <span class="tag gray">Clojure</span>
            <span class="tag gray">Functional programming</span>
            <span class="tag white">Devops</span>
            <span class="tag white">XP</span>
            <span class="tag gray">Scalability</span>
            <span class="tag white">Django</span>
            <span class="tag white">DSL</span>
            <span class="tag gray">Domain driven design</span>
            </p>
            <p>
                <ul>
                    <li><a href="mailto:fredrik.dyrkell@gmail.com?subject=hi">Email</a></li>
                    <li><a href="https://github.com/fredyr">Github</a></li>
                    <li><a href="http://se.linkedin.com/pub/fredrik-dyrkell/1/605/509">Linked In</a></li>
                </ul>
            </p>
        </aside>

        <section class="container">
        {{ content }}
        </section>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35685203-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>