<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <link rel="alternate" type="application/atom+xml" href="http://www.lexicallyscoped.com/atom.xml">

        <title>{{page.title}} | Lexically scoped, Fredrik Dyrkell</title>
        <meta property="og:title" content="{{page.title}} | Lexically scoped, Fredrik Dyrkell"/>
        <meta property="og:image" content="http://www.lexicallyscoped.com/img/lex.png"/>

        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    </head>
    <body>
        <aside>
            <a href="/" class="no-decoration">
                <h1 class="button red">Lexically scoped</h1>
            </a>
            <img src="/img/me_round.png" class="logo hide-mobile">
            <h2 class="hide-mobile">About me</h2>
            <p>I'm a software developer and team leader living in <a href="https://maps.google.se/maps?q=gothenburg+google+maps&ie=UTF8&hnear=G%C3%B6teborg&gl=se&t=h&z=10">Gothenburg, Sweden</a>.</p>
            <div class="hide-mobile">
                <p>In focus right now
                <span class="tag gray">Clojure[script]</span>
                <span class="tag white">Functional programming</span>
                <span class="tag gray">CSP</span>
                <span class="tag white">Haskell</span>
                <span class="tag gray">Ansible</span>
                <span class="tag white">Logic programming</span>
                <span class="tag gray">Django</span>
                </p>
                <p>
                    <ul>
                        <li><a href="mailto:fredrik.dyrkell@gmail.com?subject=hi">Email</a></li>
                        <li><a href="https://github.com/fredyr">Github</a></li>
                        <li><a href="http://se.linkedin.com/pub/fredrik-dyrkell/1/605/509">Linked In</a></li>
                    </ul>
                </p>
            </div>
        </aside>

        <section class="container">
        {{ content }}
        </section>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35685203-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>